<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Gemini</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
    </head>
    <header>
        <h1>Gemini</h1>
    </header>
    <body>
        <a id="windowsDownload" href=<%= winLink %>>Windows Download</a>
        <a id="macDownload" href=<%= macLink %>>macOS Download</a>
        <a id="linuxDownload" href=<%= linuxLink %>>Linux Download</a>
        <br><br>
        <a id="allDownload" href="https://github.com/Gabe-H/Gemini/releases/latest">Latest Release</a>
    </body>
</html>